.App-wrapper {
  display: grid;
  grid-template-columns: 150px auto;
}

.App-nav {
  background: #f0f0f0;
  padding: 20px;
}

.App-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.App-nav li {
  margin-bottom: 10px;
}

.App-nav a {
  text-decoration: none;
}

.App-content {
  padding: 20px;
}
